<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> 
    <!-- cambiar sintaxis de esto -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/ruleta.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/ruleta.js') }}"></script>


</head>
<body>
    <div id="wrapper">
        <div id="wheel">
            <div id="inner-wheel">
                <div class="sec">
                    <span id="lanzamientos">
                        LANZAMIENTOS
                    </span>
                </div>
                <div class="sec">
                    <span class="genero">
                        GÉNERO
                    </span>
                </div>
                <div class="sec">
                    <span id="musica-internacional">
                        MÚSICA INTERNACIONAL
                    </span>
                </div>
                <div class="sec">
                    <span id="musica-nacional">
                        MÚSICA NACIONAL
                    </span>
                </div>
            </div>       
           
            <div id="spin">
                <div id="inner-spin"></div>
            </div>
            
            <div id="shine"></div>
        </div>
        
        
        <div id="txt"></div>
  </div>
</body>
</html>







